<!--advanced search page-->
<!--created using base code from Professor DeGood with changes and additions made by entire group-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Advanced Search</title>

    <!--url for static references the location of the static directory-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet">
</head>

<body>
    <header>
    <!--gets the website title image-->
        <a href="{{ url_for('index') }}"><img class="logo" src=static/img/logo2.png alt="website logo"></a>

        <!--navigation bar setup-->
        <nav>
            <ul>
            <!--header and navegation bar with drop down search feature-->
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <div class="dropdown">
                    <li class="dropbtn">Search</li>
                    <div class="dropdown-content">
                        <a href="{{ url_for('regsearch') }}">Search</a>
                        <a href="{{ url_for('search') }}">Advanced Search</a>
                        <a href="{{ url_for('transcripts') }}" >View all Transcripts </a>
                    </div>
                </div>
                <li><a href="{{ url_for('about') }}">About Us</a></li>
                <li><a href="{{ url_for('suggest') }}">Suggestions</a></li>
                <li><a href="https://trentonlib.org/trentoniana/" target="_blank">Trentoniana Homepage</a></li>
                <li><a href="{{ url_for('signin') }}">Sign In</a></li>
            </ul>
        </nav>
    </header>

    <main>

        <form action="/form-handler" method="POST">
            <div>
                <p> Search using a postgreSQL SELECT command: </p>
                <p> To view transcripts, please search for an audio file(s) and see "View Transcripts" at the bottom of the results page. Or, go to the search tab in the navegation bar and select transcripts from the drop down. </p>
                <div><p>If you are unfamiliar with psql queries please use the main search page here: </p></div>
                <!--this is to take the user to the regular search page-->
                <li class="right"><a class="cbutton" href="{{ url_for('regsearch') }}">Basic Search</a></li>
                <p></p>
                <input type="text" name="query">
            </div>
            <input type="submit" value="Submit">
        </form>
    </main>
</body>

</html>
