<!--sign in page-->
<!--implementation by Summer Martin-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>

    <!--url for static references the location of the static directory-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet">

</head>

<body>
    <main>
        <header>
        <!--gets the website title image-->
            <a href="{{ url_for('index') }}"><img class="logo" src=static/img/logo2.png alt="website logo"></a>

            <!--navigation bar setup-->
            <nav>
                <ul>
                    <!--header and navegation bar with drop down search feature-->
                    <li><a href="{{ url_for('index') }}">Home</a></li>
                    
                    <div class="dropdown">
                        <li class="dropbtn">Search</li>
                        <div class="dropdown-content">
                            <a href="{{ url_for('regsearch') }}">Search</a>
                            <a href="{{ url_for('search') }}">Advanced Search</a>
                            <a href="{{ url_for('transcripts') }}" >View all Transcripts </a>
                        </div>
                    </div>
                    
                    <li><a href="{{ url_for('about') }}">About Us</a></li>
                    <li><a href="{{ url_for('suggest') }}">Suggestions</a></li>
                    <li><a href="https://trentonlib.org/trentoniana/" target="_blank">Trentoniana Homepage</a></li>
                    <li><a href="{{ url_for('signin') }}">Sign In</a></li>
                </ul>
            </nav>
        </header>
        <section class="signinform">
            <h1>Sign In</h1>
                <form autocomplete="off" action="/signinform" method="POST">
                    <div class="row">
                        <div class="form_names">
                            <label4 for="fname">UserID</label4>
                        </div>
                        <div class="form_names4">
                            <input type="text" id="userid" name="userid" placeholder="Please enter your UserID" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form_names">
                            <label4 for="fname">Password</label4>
                        </div>
                        <div class="form_names4">
                            <input type="password" id="pass" name="pass" placeholder="Please enter your password" required>
                        </div>
                    </div>
                    <input type="submit" value="Submit">
                </form>
        </section>
    </main>
</body>
</html>
