<!--suggestions page-->
<!--implementation by the entire group-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suggestions</title>

    <!--url for static references the location of the static directory-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet">
</head>

<body>
    <script src="{{ url_for('static', filename='scripts/suggestconfirm.js')}}"></script>
    <header>
    <!--gets the website title image-->
        <a href="{{ url_for('index') }}"><img class="logo" src=static/img/logo2.png alt="website logo"></a>

        <!--navigation bar setup-->
        <nav>
            <ul>
                <!--header and navegation bar with drop down search feature-->
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <div class="dropdown">
                        <li class="dropbtn">Search</li>
                        <div class="dropdown-content">
                            <a href="{{ url_for('regsearch') }}">Search</a>
                            <a href="{{ url_for('search') }}">Advanced Search</a>
                            <a href="{{ url_for('transcripts') }}" >View all Transcripts </a>
                        </div>
                    </div>
                <li><a href="{{ url_for('about') }}">About Us</a></li>
                <li><a href="{{ url_for('suggest') }}">Suggestions</a></li>
                <li><a href="https://trentonlib.org/trentoniana/" target="_blank">Trentoniana Homepage</a></li>
                <li><a href="{{ url_for('signin') }}">Sign In</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <!--setup of suggestions form-->
        <section class="contact_form">
            <h1>Suggestions</h1>
            <h2>See something wrong? Think a change should be made? Have a concern about something on our website? Send us a message and let us know! We will review your suggestion as soon as we can. <h2>
            <div class="container">
                <form autocomplete="off" action="/suggest-edit" method="POST" onsubmit="return suggestconfirm(this);">

                    <div class="row">
                        <div class="form_names">
                            <label for="fname">UserID</label>
                        </div>
                        <div class="form_names2">
                            <input type="text" id="fname" name="firstname" placeholder="Your UserID" required>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form_names">
                            <label for="lname">Relevant Audio_File Name </label>
                        </div>
                        <div class="form_names2">
                            <input type="text" list="one" id="lname" name="lastname" placeholder="Name of File being addressed.">
                            <datalist id="one">
                                <option value="Dr. Paul Loser">
                                <option value="Joel Millner">
                                <option value="Rosenthal, Minerva">
                                <option value="JHS 55 Samuel Rudner">
                                <option value="Joe & Ida Klatzkin">
                            </datalist>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form_names">
                            <label for="subject">Message</label>
                        </div>
                        <div class="form_names2">
                            <textarea id="subject" name="message" required placeholder="Type your suggestion..." style="height:10rem"></textarea>
                        </div>
                    </div>

                    <!--submit and reset buttons-->
                    <div class="row">
                        <input type="submit" value="Submit">
                        <input type="reset" value="Reset">
                    </div>
                </form>
            </div>
        </section>
    </main>
</body>

</html>
