/*CSS added by Kyla Ramos and Lalima Bhola, with additions made by Summer Martin*/

/* navigation bar elements */
nav {
    background-color: #8d021f;
    margin-bottom: 1.1875rem;
    margin-top: -0.5rem;
    max-width: 95%;
    margin-left: 1rem;
    margin-right: 1rem;
}

nav a {
    color: white;
    text-decoration: none;
    text-align: center;
}

nav li:hover a {
    color: black;
}

nav ul {
    text-align: left;
    display: inline;
    padding: 0.9375rem 0.25rem 1.0625rem 0;
    list-style: none;
}

/*dimensions of main navigation bar (text)*/
nav ul li {
    font: bold 1rem sans-serif;
    font-size: 1rem;
    display: inline-block;
    position: relative;
    padding: 1rem 1.95rem;
}

/* when you hover over navigation and dropdown menus*/
nav ul li:hover {
    background: white;
    font-style: normal;
}


/*position of logo text*/
.logo {
    display: inline;
    margin-left: 20px;
    margin-right: auto;
    height: auto;
    padding-bottom: .5rem;
}

/* general text styling */
h1 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
    color: #8d021f;
    text-align: center;
}

/* general text styling */
h2 {
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    color: #8d021f;
    text-align: center;
}


/*dimensions of all plain text*/
p {
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-size: 1.125rem;
    margin-bottom: 1.75rem;
    margin-left: 2rem;
    margin-right: 2rem;

}

p2 {
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-size: 1.125rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;

}

p3 {
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-size: .9rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;

}

/*entire background of page*/
body {
    background-color: #fff;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}


/*display of all links*/
a {
    font-family: 'Open Sans', sans-serif;
    color: #196483;
    text-decoration: none;
}

/*change color when you hover over a link*/
a:hover {
    color: #34678a;
}

/*display of "center" class*/
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*change color when hovering over link with "center" class*/
.center a:hover {
    color: white;
    background-color: black;
}

.centerimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

/*display of "right" class*/
.right {
    display: flex;
    justify-content: right;
    margin-right: 11.5%;
}

/*change color when hovering over link with "center" class*/
.right a:hover {
    color: white;
    background-color: black;
}

/*display of "rigth2" class*/
.right2 {
    display: flex;
    justify-content: left;
    align-items: left;
    margin-right: 40px
}

/*change color when hovering over link with "center" class*/
.right2 a:hover {
    color: white;
    background-color: black;
}

/*display of "right" class*/
.right3 {
    display: flex;
    justify-content: right;
}

/*change color when hovering over link with "center" class*/
.right3 a:hover {
    color: white;
    background-color: black;
}

/* search button styling */
.searchbutton {
    font-family: 'Open Sans', sans-serif;
    font: bold;
    border-radius: 4px;
    background-color: #8d021f;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.searchbutton span {
    font-family: 'Open Sans', sans-serif;
    font: bold;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.searchbutton span:after {
    font-family: 'Open Sans', sans-serif;
    font: bold;
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.searchbutton:hover span {
    font-family: 'Open Sans', sans-serif;
    font: bold;
    padding-right: 25px;
}

.searchbutton:hover span:after {
    font-family: 'Open Sans', sans-serif;
    font: bold;
    opacity: 1;
    right: 0;
}

/*styling of buttons that link to the transcript pages*/
.vbutton {
    font-family: 'Open Sans', sans-serif;
    font: bold;
    border-radius: 4px;
    background-color: #8d021f;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.vbutton span {
    font-family: 'Open Sans', sans-serif;
    font: bold;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.vbutton span:after {
    font-family: 'Open Sans', sans-serif;
    font: bold;
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.vbutton:hover span {
    font-family: 'Open Sans', sans-serif;
    font: bold;
    padding-right: 25px;
}

.vbutton:hover span:after {
    font-family: 'Open Sans', sans-serif;
    font: bold;
    opacity: 1;
    right: 0;
}

/*styling of buttons that links to the comment page*/
.cbutton {
    font-family: 'Open Sans', sans-serif;
    font: bold;
    border-radius: 4px;
    background-color: #8d021f;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    padding: 10px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 3px;
}

.cbutton span {
    font-family: 'Open Sans', sans-serif;
    font: bold;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.cbutton span:after {
    font-family: 'Open Sans', sans-serif;
    font: bold;
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.vbutton:hover span {
    font-family: 'Open Sans', sans-serif;
    font: bold;
    padding-right: 25px;
}

.cbutton:hover span:after {
    font-family: 'Open Sans', sans-serif;
    font: bold;
    opacity: 1;
    right: 0;
}

/*contact form dimensions and such...*/
.contact_form {
    font-weight: 700;
    font-size: 1.3rem;
    color: black;
    text-align: center;
    margin-left: 11%;
    margin-right: auto;
    justify-content: space-between;
    max-width: 80%;
}

.signinform{
    font-weight: 600;
    font-size: 1.2rem;
    color: black;
    text-align: center;
    margin-left: 15%;
    margin-right: auto;
    justify-content: space-between;
    max-width: 70%;
}


/*position of all form input*/
input[type=text],
select,
textarea {
    width: 90%;
    padding: 0.75rem;
    border: 0.05rem solid #ccc;
    border-radius: 0.5rem;
    resize: vertical;
}

input[type=admin],
select,
textarea {
    width: 22%;
    padding: 0.45rem;
    border: 0.05rem solid #ccc;
    border-radius: 0.5rem;
    resize: vertical;
}

input[type=password],
select,
textarea {
    width: 90%;
    padding: 0.75rem;
    border: 0.05rem solid #ccc;
    border-radius: 0.5rem;
    resize: vertical;
}

/*position of labels on form boxes*/
label {
    margin-bottom: 1.25rem;
    margin-left: -10rem;
    padding: inherit;
    display: inline-block;
}

/*position of lables on radio buttons*/
label2 {
    margin-bottom: .75rem;
    margin-right: 1rem;
    padding: inherit;
    display: inline-block;
}

label3 {
    margin-bottom: 1rem;
    margin-left: 0rem;
    padding: inherit;
    display: inline-block;
}

label4 {
    margin-bottom: 1.25rem;
    margin-left: -13.5rem;
    padding: inherit;
    display: inline-block;
}

label5 {
    display: inline-block;
    margin-right: 1rem;f
}

/*position of submit button*/
input[type=submit] {
    background-color: #8d021f;
    color: white;
    padding: 0.75rem 1.25rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    float: right;
    font-size: 1.1rem;
    margin-top: 1rem;
    margin-right: 12.5%;
    
}

/*change color of submit button when you hover over it*/
input[type=submit]:hover {
    background-color: black;
}

/*position of reset button*/
input[type=reset] {
    background-color: #8d021f;
    color: white;
    padding: 0.75rem 1.25rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    float: right;
    font-size: 1.1rem;
    margin-top: 1rem;
    margin-right: 54.4%;
}

/*change color of reset button when you hover over it*/
input[type=reset]:hover {
    background-color: black;
}

button[type=like] {
    font-family: 'Open Sans', sans-serif;
    font: bold;
    border-radius: 4px;
    background-color: #8d021f;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    padding: 10px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 10px;
    position: absolute;
    right: 0
    
}
button[type=like]:hover{
    font-family: 'Open Sans', sans-serif;
    font: bold;
    opacity: 1;
    right: 0;
}

button[type=view] {
    font-family: 'Open Sans', sans-serif;
    font: bold;
    border-radius: 4px;
    background-color: #8d021f;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding-left: 10px;
    padding-right: 10px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    
}
button[type=view]:hover{
    font-family: 'Open Sans', sans-serif;
    font: bold;
    opacity: 1;
    padding-right: 25px;
}

/*position of form names on suggestion form*/
.form_names {
    float: none;
    width: 20%;
    padding-left: 1rem;
    margin-left: 22rem;
}

/*position of suggestion form boxes*/
.form_names2 {
    width: 65%;
    padding-bottom: 2rem;
    margin-top: -1rem;
    margin-left: 7rem;
}

/*position of search form boxes*/
.form_names3 {
    width: 50%;
    padding-bottom: 1rem;
    margin-top: -1rem;
    margin-left: 0rem;
}

/*position of suggestion form boxes*/
.form_names4 {
    width: 65%;
    padding-bottom: 0rem;
    margin-top: -1rem;
    margin-left: 7rem;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.raw {
    content: "";
    display: table;
    clear: both;
    margin-left: 40px;
}

form {
    margin: 1%;
}

div {
    margin: 1% 0;
}

div2 {
    margin: 1% 5%;
}

div3{
    margin: 1% 10%;
}

/*Adding some style to table*/
th:tr {
    color: blue;
}

tr:nth-of-type(2n) {
    border: 1px solid black;
    background-color: rgba(150, 150, 150, 0.5);
}

td {
    padding: 8px 8px;
    border: 1px solid black;
}

 /* Dropdown Button */
.dropbtn: {
  border: none;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  color: white;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  font-family: 'Open Sans', sans-serif;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
  font-family: 'Open Sans', sans-serif;
  color: white;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
   display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
   background-color: white;
   color: black;
} 
